footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.7rem;
    
    color: var(--color-bg);
}

footer a {
    color: var(--color-bg);
    text-decoration: none;
    display: inline;
    font-size: 0.9rem;
    font-weight: 500;
}
a:hover {
  color: var(--color-primary);
}





