.Weather {
  border: 2px solid #fff;
  padding: 16px;
  border-radius: 10px;
  color: rgb(48, 48, 65);
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 25px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  
}

.Weather .temperature {
  font-weight: 400;
  color: var(--color-bg);
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;
  overflow:hidden;
  font-size: 60px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: var(--color-bg);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 0;
  top: -64px;
  
}



